In [34]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
from IPython.display import Image

 # 1. Import the dataset using Pandas from above mentioned url.

In [35]:

url = "https://raw.githubusercontent.com/SR1608/Datasets/main/covid-data.csv"
df = pd.read_csv(url)
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,31/12/19,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,01/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,02/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,03/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,04/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57389,NaN,NaN,International,13/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57390,NaN,NaN,International,14/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57391,NaN,NaN,International,15/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57392,NaN,NaN,International,16/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57393,NaN,NaN,International,17/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2. High Level Data Understanding:

## a. Find no. of rows & columns in the dataset`

In [36]:
df.shape[0],df.shape[1]

(57394, 49)

In [37]:
df.shape

(57394, 49)

## b. Data types of columns

In [38]:
df.dtypes

iso_code                               object
continent                              object
location                               object
date                                   object
total_cases                           float64
new_cases                             float64
new_cases_smoothed                    float64
total_deaths                          float64
new_deaths                            float64
new_deaths_smoothed                   float64
total_cases_per_million               float64
new_cases_per_million                 float64
new_cases_smoothed_per_million        float64
total_deaths_per_million              float64
new_deaths_per_million                float64
new_deaths_smoothed_per_million       float64
reproduction_rate                     float64
icu_patients                          float64
icu_patients_per_million              float64
hosp_patients                         float64
hosp_patients_per_million             float64
weekly_icu_admissions                 float64
weekly_icu_admissions_per_million     float64
weekly_hosp_admissions                float64
weekly_hosp_admissions_per_million    float64
total_tests                           float64
new_tests                             float64
total_tests_per_thousand              float64
new_tests_per_thousand                float64
new_tests_smoothed                    float64
new_tests_smoothed_per_thousand       float64
tests_per_case                        float64
positive_rate                         float64
stringency_index                      float64
population                            float64
population_density                    float64
median_age                            float64
aged_65_older                         float64
aged_70_older                         float64
gdp_per_capita                        float64
extreme_poverty                       float64
cardiovasc_death_rate                 float64
diabetes_prevalence                   float64
female_smokers                        float64
male_smokers                          float64
handwashing_facilities                float64
hospital_beds_per_thousand            float64
life_expectancy                       float64
human_development_index               float64
dtype: object

## c. Info & describe of data in dataframe

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57394 entries, 0 to 57393
Data columns (total 49 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            57071 non-null  object
 1   continent                           56748 non-null  object
 2   location                            57394 non-null  object
 3   date                                57394 non-null  object
 4   total_cases                         53758 non-null  float64
 5   new_cases                           56465 non-null  float64
 6   new_cases_smoothed                  55652 non-null  float64
 7   total_deaths                        44368 non-null  float64
 8   new_deaths                          56465 non-null  float64
 9   new_deaths_smoothed                 55652 non-null  float64
 10  total_cases_per_million             53471 non-null  float64
 11  new_cases_per_million               56401 non-null  float64
 12  new_cases_smoothed_per_million      55587 non-null  float64
 13  total_deaths_per_million            44096 non-null  float64
 14  new_deaths_per_million              56401 non-null  float64
 15  new_deaths_smoothed_per_million     55587 non-null  float64
 16  reproduction_rate                   37696 non-null  float64
 17  icu_patients                        4490 non-null   float64
 18  icu_patients_per_million            4490 non-null   float64
 19  hosp_patients                       5005 non-null   float64
 20  hosp_patients_per_million           5005 non-null   float64
 21  weekly_icu_admissions               357 non-null    float64
 22  weekly_icu_admissions_per_million   357 non-null    float64
 23  weekly_hosp_admissions              645 non-null    float64
 24  weekly_hosp_admissions_per_million  645 non-null    float64
 25  total_tests                         22017 non-null  float64
 26  new_tests                           21787 non-null  float64
 27  total_tests_per_thousand            22017 non-null  float64
 28  new_tests_per_thousand              21787 non-null  float64
 29  new_tests_smoothed                  24612 non-null  float64
 30  new_tests_smoothed_per_thousand     24612 non-null  float64
 31  tests_per_case                      22802 non-null  float64
 32  positive_rate                       23211 non-null  float64
 33  stringency_index                    47847 non-null  float64
 34  population                          57071 non-null  float64
 35  population_density                  54371 non-null  float64
 36  median_age                          51034 non-null  float64
 37  aged_65_older                       50265 non-null  float64
 38  aged_70_older                       50768 non-null  float64
 39  gdp_per_capita                      50367 non-null  float64
 40  extreme_poverty                     33571 non-null  float64
 41  cardiovasc_death_rate               51013 non-null  float64
 42  diabetes_prevalence                 52881 non-null  float64
 43  female_smokers                      39669 non-null  float64
 44  male_smokers                        39156 non-null  float64
 45  handwashing_facilities              24176 non-null  float64
 46  hospital_beds_per_thousand          45936 non-null  float64
 47  life_expectancy                     56336 non-null  float64
 48  human_development_index             49247 non-null  float64
dtypes: float64(45), object(4)
memory usage: 21.5+ MB

In [40]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,5.375800e+04,56465.000000,55652.000000,4.436800e+04,56465.000000,55652.000000,53471.000000,56401.000000,55587.000000,44096.000000,...,50367.000000,33571.000000,51013.000000,52881.000000,39669.000000,39156.000000,24176.000000,45936.000000,56336.000000,49247.000000
mean,1.677974e+05,1953.576941,1920.431953,6.858639e+03,47.054317,46.835439,3139.099982,39.344804,38.403211,95.335293,...,20620.172071,12.435453,252.646642,8.070269,10.741569,32.642686,52.089636,3.089724,73.937780,0.722223
std,1.693038e+06,18269.650340,17777.391785,5.578081e+04,390.853776,378.272794,6183.455260,133.985155,101.649441,180.721699,...,20310.999832,19.427924,117.522344,4.189605,10.470743,13.453566,31.645306,2.513193,7.397016,0.153261
min,1.000000e+00,-8261.000000,-552.000000,1.000000e+00,-1918.000000,-232.143000,0.001000,-2212.545000,-269.978000,0.000000,...,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.354000
25%,1.800000e+02,0.000000,0.857000,1.300000e+01,0.000000,0.000000,90.033000,0.000000,0.260000,3.977750,...,5321.444000,0.500000,156.139000,5.310000,1.900000,21.400000,21.222000,1.300000,69.870000,0.601000
50%,2.070000e+03,14.000000,19.429000,8.400000e+01,0.000000,0.286000,593.663000,2.194000,3.863000,20.383000,...,13913.839000,2.000000,238.339000,7.110000,6.400000,31.400000,52.232000,2.500000,75.345000,0.752000
75%,2.235675e+04,235.000000,245.286000,7.270000e+02,4.000000,4.000000,3487.050000,25.941000,29.678500,90.571250,...,31400.840000,18.100000,318.991000,10.390000,19.600000,40.900000,83.741000,4.200000,79.380000,0.847000
max,5.515465e+07,646281.000000,584981.857000,1.328537e+06,10600.000000,9027.714000,76541.772000,8652.658000,2472.188000,1248.014000,...,116935.600000,77.600000,724.417000,30.530000,44.000000,78.100000,98.999000,13.800000,86.750000,0.953000

# 3. Low Level Data Understanding :
#         a. Find count of unique values in location column.
#         b. Find which continent has maximum frequency using values counts.
#         c. Find maximum & mean value in 'total_cases'.
#         d. Find 25%,50% & 75% quartile value in 'total_deaths'.
#         e. Find which continent has maximum 'human_development_index'.
#         f. Find which continent has minimum 'gdp_per_capita'.

In [41]:
df["location"].value_counts()

Malaysia             323
Philippines          323
Lithuania            323
Vietnam              323
India                323
                    ...
Hong Kong             72
Solomon Islands       33
Wallis and Futuna     32
Marshall Islands      20
Vanuatu                7
Name: location, Length: 216, dtype: int64

In [42]:
df["continent"].value_counts()
df.max()

location                                  Zimbabwe
date                                      31/12/19
total_cases                             55154651.0
new_cases                                 646281.0
new_cases_smoothed                      584981.857
total_deaths                             1328537.0
new_deaths                                 10600.0
new_deaths_smoothed                       9027.714
total_cases_per_million                  76541.772
new_cases_per_million                     8652.658
new_cases_smoothed_per_million            2472.188
total_deaths_per_million                  1248.014
new_deaths_per_million                     215.382
new_deaths_smoothed_per_million              63.14
reproduction_rate                             6.72
icu_patients                               15130.0
icu_patients_per_million                   126.838
hosp_patients                              65368.0
hosp_patients_per_million                  773.463
weekly_icu_admissions                     4375.407
weekly_icu_admissions_per_million           192.21
weekly_hosp_admissions                    46641.41
weekly_hosp_admissions_per_million        2424.482
total_tests                            166039068.0
new_tests                                1531394.0
total_tests_per_thousand                  1926.641
new_tests_per_thousand                      26.071
new_tests_smoothed                       1296553.0
new_tests_smoothed_per_thousand             19.172
tests_per_case                             45864.0
positive_rate                                0.651
stringency_index                             100.0
population                            7794798729.0
population_density                         19347.5
median_age                                    48.2
aged_65_older                               27.049
aged_70_older                               18.493
gdp_per_capita                            116935.6
extreme_poverty                               77.6
cardiovasc_death_rate                      724.417
diabetes_prevalence                          30.53
female_smokers                                44.0
male_smokers                                  78.1
handwashing_facilities                      98.999
hospital_beds_per_thousand                    13.8
life_expectancy                              86.75
human_development_index                      0.953
dtype: object

In [43]:
df.groupby('continent').max()

,iso_code,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
continent,,,,,,,,,,,,,,,,,,,,,
Africa,ZWE,Zimbabwe,31/12/19,752269.0,13944.0,12583.714,20314.0,572.0,297.429,17698.224,...,26382.287,77.6,525.432,22.02,9.7,65.8,89.827,6.30,76.88,0.797
Asia,YEM,Yemen,31/12/19,8874290.0,97894.0,93198.571,130519.0,2003.0,1168.000,49884.137,...,116935.600,30.3,724.417,17.72,26.9,78.1,98.999,13.05,84.86,0.933
Europe,VAT,Vatican,31/12/19,1991233.0,86852.0,54868.571,52147.0,2004.0,1101.000,76541.772,...,94277.965,5.7,539.849,10.08,44.0,58.3,97.719,13.80,86.75,0.953
North America,VIR,United States Virgin Islands,31/12/19,11205486.0,184813.0,156419.143,247220.0,4928.0,2715.143,43721.784,...,54225.446,23.5,430.548,17.11,19.1,53.3,90.650,5.80,83.92,0.926
Oceania,WLF,Wallis and Futuna,31/12/19,27750.0,1384.0,551.714,907.0,59.0,22.000,41672.600,...,44648.710,25.1,561.494,30.53,23.5,48.8,82.502,3.84,83.44,0.939
South America,VEN,Venezuela,31/12/19,5876464.0,69074.0,46393.000,166014.0,3935.0,1096.714,29170.225,...,22767.037,7.1,373.159,12.54,34.2,42.9,80.635,5.00,81.44,0.843

In [44]:
## c. Find max and mean in 'total_cases'

In [45]:
df["total_cases"].max()

55154651.0

In [46]:
df["total_cases"].mean()

167797.3688753302

In [47]:
# d. Find 25%,50% & 75% quartile value in 'total_deaths'.

In [48]:
df["total_deaths"].quantile([0.25,0.5,0.75])

0.25     13.0
0.50     84.0
0.75    727.0
Name: total_deaths, dtype: float64

In [49]:
## e. Find which continent has maximum 'human_development_index'

In [129]:
df.groupby('continent').human_development_index.max().head(1)

continent
Africa    0.797
Name: human_development_index, dtype: float64

In [51]:
## f.  Find which continent has minimum 'gdp_per_capita'.

In [130]:
df.groupby('continent').gdp_per_capita.min().head(1)

continent
Africa    661.24
Name: gdp_per_capita, dtype: float64

In [53]:
# 4. Filter the dataframe with only this columns
#    ['continent','location','date','total_cases','total_deaths','gdp_per_capita','
#    human_development_index'] and update the data frame.

In [54]:
df_1 = df[['continent','location','date','total_cases','total_deaths','gdp_per_capita',
    'human_development_index']]
df_1

,continent,location,date,total_cases,total_deaths,gdp_per_capita,human_development_index
0,Asia,Afghanistan,31/12/19,NaN,NaN,1803.987,0.498
1,Asia,Afghanistan,01/01/20,NaN,NaN,1803.987,0.498
2,Asia,Afghanistan,02/01/20,NaN,NaN,1803.987,0.498
3,Asia,Afghanistan,03/01/20,NaN,NaN,1803.987,0.498
4,Asia,Afghanistan,04/01/20,NaN,NaN,1803.987,0.498
...,...,...,...,...,...,...,...
57389,NaN,International,13/11/20,696.0,7.0,NaN,NaN
57390,NaN,International,14/11/20,696.0,7.0,NaN,NaN
57391,NaN,International,15/11/20,696.0,7.0,NaN,NaN
57392,NaN,International,16/11/20,696.0,7.0,NaN,NaN
57393,NaN,International,17/11/20,696.0,7.0,NaN,NaN

In [55]:
# 5. Data Cleaning
#         a. Remove all duplicates observations
#         b. Find missing values in all columns
#         c. Remove all observations where continent column value is missing
#         Tip : using subset parameter in dropna
#         d. Fill all missing values with 0

In [56]:
# a. Remove all duplicates observations

In [57]:
df.duplicated().sum()

0

In [58]:
df_2 = df.drop_duplicates()
df_2

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,31/12/19,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,01/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,02/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,03/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,04/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57389,NaN,NaN,International,13/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57390,NaN,NaN,International,14/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57391,NaN,NaN,International,15/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57392,NaN,NaN,International,16/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57393,NaN,NaN,International,17/11/20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
# b. Find missing values in all columns

In [118]:
df.isnull().sum()

iso_code                                323
continent                               646
location                                  0
date                                      0
new_cases                               929
new_cases_smoothed                     1742
new_deaths                              929
new_deaths_smoothed                    1742
total_cases_per_million                3923
new_cases_per_million                   993
new_cases_smoothed_per_million         1807
total_deaths_per_million              13298
new_deaths_per_million                  993
new_deaths_smoothed_per_million        1807
reproduction_rate                     19698
icu_patients                          52904
icu_patients_per_million              52904
hosp_patients                         52389
hosp_patients_per_million             52389
weekly_icu_admissions                 57037
weekly_icu_admissions_per_million     57037
weekly_hosp_admissions                56749
weekly_hosp_admissions_per_million    56749
total_tests                           35377
new_tests                             35607
total_tests_per_thousand              35377
new_tests_per_thousand                35607
new_tests_smoothed                    32782
new_tests_smoothed_per_thousand       32782
tests_per_case                        34592
positive_rate                         34183
stringency_index                       9547
population                              323
population_density                     3023
median_age                             6360
aged_65_older                          7129
aged_70_older                          6626
gdp_per_capita                         7027
extreme_poverty                       23823
cardiovasc_death_rate                  6381
diabetes_prevalence                    4513
female_smokers                        17725
male_smokers                          18238
handwashing_facilities                33218
hospital_beds_per_thousand            11458
life_expectancy                        1058
human_development_index                8147
month                                     0
total_deaths_to_total_cases           13026
dtype: int64

##  c. Remove all observations where continent column value is missing
##   Tip : using subset parameter in dropna

In [61]:
df.dropna(subset=['continent'])

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,31/12/19,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,01/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,02/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,03/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,04/01/20,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56743,ZWE,Africa,Zimbabwe,13/11/20,8696.0,29.0,36.000,255.0,0.0,1.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
56744,ZWE,Africa,Zimbabwe,14/11/20,8765.0,69.0,42.000,257.0,2.0,1.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
56745,ZWE,Africa,Zimbabwe,15/11/20,8786.0,21.0,41.143,257.0,0.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
56746,ZWE,Africa,Zimbabwe,16/11/20,8786.0,0.0,36.429,257.0,0.0,0.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
56747,ZWE,Africa,Zimbabwe,17/11/20,8897.0,111.0,48.000,257.0,0.0,0.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535

## d. Fill all missing values with 0

In [162]:
df.fillna(0)

,iso_code,continent,location,date,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,month,total_deaths_to_total_cases
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498,12,0.000000
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498,1,0.000000
2,AFG,Asia,Afghanistan,2020-02-01,0.0,0.0,0.0,0.0,0.0,0.0,...,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498,2,0.000000
3,AFG,Asia,Afghanistan,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,...,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498,3,0.000000
4,AFG,Asia,Afghanistan,2020-04-01,0.0,0.0,0.0,0.0,0.0,0.0,...,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498,4,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57389,0,0,International,2020-11-13,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.00,0.0,0.0,0.000,0.0,0.00,0.000,11,0.010057
57390,0,0,International,2020-11-14,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.00,0.0,0.0,0.000,0.0,0.00,0.000,11,0.010057
57391,0,0,International,2020-11-15,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.00,0.0,0.0,0.000,0.0,0.00,0.000,11,0.010057
57392,0,0,International,2020-11-16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.00,0.0,0.0,0.000,0.0,0.00,0.000,11,0.010057
57393,0,0,International,2020-11-17,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.00,0.0,0.0,0.000,0.0,0.00,0.000,11,0.010057